*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(download\ \(8\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 80px;
    padding: 8px;
    font-weight: bold;
    color: #00ff57;
    background: transparent;
    border: 2px solid #00ff57;
    border-radius: 6px;
    cursor: pointer;

    /* NEON VERDE */
    box-shadow:
        0 0 10px #00ff57,
        0 0 20px #00ff57;
    transition: 0.3s;
}

button:hover {
    color: #000;
    background: #00ff57;

    /* GLOW MAIS FORTE NO HOVER */
    box-shadow:
        0 0 15px #00ff57,
        0 0 30px #00ff57,
        0 0 45px #00ff57;
}


#titulo-neon {
    font-family: 'Arial', sans-serif;
    font-size: 5rem;
    color: #ff2a2a; /* vermelho neon */
    text-align: center;

    /* efeito neon */
    text-shadow:
        0 0 5px #ff2a2a,
        0 0 10px #ff2a2a,
        0 0 20px #ff2a2a,
        0 0 40px #ff0000,
        0 0 80px #ff0000;

    animation: neonPulse 1.5s infinite alternate;
}

/* animação pulsante */
@keyframes neonPulse {
    0% {
        text-shadow:
            0 0 5px #ff2a2a,
            0 0 10px #ff2a2a,
            0 0 20px #ff2a2a,
            0 0 40px #ff0000,
            0 0 80px #ff0000;
    }
    100% {
        text-shadow:
            0 0 10px #ff4d4d,
            0 0 20px #ff4d4d,
            0 0 30px #ff1a1a,
            0 0 50px #ff1a1a,
            0 0 100px #ff0000;
    }
}
